.rvmrc
config/database.yml
config/ldap.yml
config/smtp.yml
config/solr.yml
config/sword.yml
config/personalize.rb
tmp/
public.old/
.svn
log/
vendor/bibapp-solr/data
vendor/bibapp-solr/cores-data/production/core1/data
vendor/bibapp-solr/cores-data/production/core2/data
vendor/bibapp-solr/cores-data/development/core1/data
vendor/bibapp-solr/cores-data/development/core2/data
vendor/bibapp-solr/cores-data/test/core1/data
vendor/bibapp-solr/cores-data/test/core2/data
vendor/solr/logs
doc/
coverage/
.idea/
public/attachments/
public/groups/
public/people/
public/tolk/
