- bibapp_cache(:controller => 'shared', :action => 'partial', :action_suffix => 'footer') do
  %footer
    #footer-sub
      .wrapper-for-content
        .row
          .sub-left
            .contactdetails
              University of Kansas
              %br/
              Medical Center
              %br/
              3901 Rainbow Boulevard
              %br/
              Kansas City, KS 66160
              %br/
              913-588-5000 | 913-588-7963 TDD
          .sub-right.last
            %img{:alt => "Educating Healthcare Professionals since 1905", :src => "https://www.kumc.edu/images/icons/tagline.png"}/
    #footer-bottom.clearfix
      .wrapper-for-content
        .row
          .footer-left
            %img{:alt => "KU Medical Center", :src => "https://www.kumc.edu/images/logos/kumclogo_mobile.png"}/
          .footer-right
        .row
          .col_12.footer-center.last
            %p
              %img#ku_footer_jayhawk{:alt => "Jayhawk", :height => "50", :src => "https://www.kumc.edu/prebuilt/images/ku_jayhawk.png", :width => "56"}/
            %ul.navigate
              %li
                %a{:href => "http://www.kumc.edu/about-us.html", :title => "About Us"} About Us
              %li
                %a{:href => "http://www.kumc.edu/events-calendar.html", :title => "Events Calendar"} Events Calendar
              %li
                %a{:href => "http://www.kumc.edu/communications.html", :title => "Communications"} Communications
              %li.last
                %a{:href => "http://www.kumc.edu/social-media.html", :title => "Social Media"} Social Media
        .row
          .col_12.footer-center.last
            %ul.navigate
              %li
                %a{:href => "http://ioa.ku.edu/"} An EO/AA/Title IX Institution
              %li
                %a{:href => "http://www.kumc.edu/privacy-statement.html"} Privacy Statement
              %li
                %a{:href => "http://www.kumc.edu/about-this-site.html"} About this Site
              %li.last
                %a{:href => "http://www.kumc.edu/help.html"} Help
            %p
              \&copy;
              %script{:language => "JavaScript", :type => "text/javascript"}
                var d=new Date();
                yr=d.getFullYear();
                if (yr!=1863)
                document.write(yr);
              The University of Kansas Medical Center
              %br/
              %span.small.legal
                The University of Kansas Medical Center prohibits discrimination on the basis of race, color, ethnicity, religion, sex, national origin, age, ancestry, disability, status as a veteran, sexual orientation, marital status, parental status, gender identity, gender expression and genetic information in the University's programs and activities. The following person has been designated to handle inquiries regarding the non-discrimination policies: Executive Director of the Office of Institutional Opportunity and Access,
                = succeed "," do
                  %a{:href => "mailto:ioa@ku.edu"} IOA@ku.edu
                1054 Wescoe, 3901 Rainbow Blvd,. K.C., KS 66160, 913-588-5048.