#header
  .wrapper-for-content
    #topnav.row
      .col_12.last
        %p.topleft
          %a{:href => "http://www.kumc.edu/"} University of Kansas Medical Center
        %ul#top_main_nav.inline-list
          %li
            %a{:href => "http://library.kumc.edu/", :title => "Dykes Library"} Dykes Library
.container
  .wrapper-for-content
    #header-container.row
      #main-search.row
        .col_12.last
          .col_2
            .logo-img
              %a{:href => "http://www.kumc.edu/"}
                %img{:alt => "KU Medical Center", :src => "https://www.kumc.edu/images/x/logo.png"}/
          .col_6
            %h2.unit-name Meet Our Experts
            %p.unit-description
            #crumbtrail
              %p.small
          #search.col_4.last