/*Override from style-kumc.css*/
* {
        -webkit-box-sizing: inherit; /* Safari/Chrome, other WebKit */
        -moz-box-sizing: inherit;    /* Firefox, other Gecko */
        box-sizing: inherit;         /* Opera/IE 8+ */
}

/* -----------------------------
 * overridden elements
 ------------------------------- 
*/

body {
  background: url('https://www.kumc.edu/images/x/kumc-hemenway.jpg') no-repeat center 30px;
}

h2 {
  border-bottom: inherit;
}

/* -----------------------------
 * overridden ids
 ------------------------------- 
*/
#bibapp-main h2, #bibapp-main h3 {
  margin-top: 0px;
}

#memberships ul.children {
 margin-left: 1.5em;
 padding-top: 0.5em;
}

#footer-bottom p img {
  float: inherit;
  margin: inherit;
  padding: inherit;
}

#alpha-nav.pagination {
  margin-left: 0;
  margin-right: 2em;
}

#navigation {
  padding-left: 3em;
}

#navigation #current a {
  padding-bottom: 0.5em;
  font-weight: bold;
  color: #0022B4;
}

#navigation li#current {
	background-color: #eeeeee;
}

#people img.person-image { height: 100px; }

#coauthors img.person-image { height: 55px; }

#results ol.facet_filters li {
	list-style-type: none;	
}

#topnav {
    height: 80px;    
}

#toptabnav {
    margin: 15px 0 0;
}

#toptabnav ul {
    display: inline;
    margin: 0;
    padding: 0;
}

#toptabnav ul li {
	font-size: inherit;
}

ol#works li, div#works ol li.work {margin: 1em 0 0 1em;}

div#content div#facets ol, div#content div#facets ol li {
    list-style-type: none;
  }

ol#groups, ol#publications, ol#publishers {
  list-style: none;
  line-height: 1.25em;
}

#people {
  padding-right: 2em;
}

#results .pagination {
  border-width: 0px;
  margin-bottom: 0.5em;
}

#results .pagination div.pagination {
  border-width: 1px;
}

/* -----------------------------
 * overridden classes
 ------------------------------- 
*/

.container {
  width: inherit;
  background-color: inherit;
}

div.search-within {
  padding-bottom: 1em;
}

.pagination li {
        margin: 1em 0 0 0;
}

.pagination a {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: none;
  text-decoration: underline;
  color: #000099;
}

.pagination a.none {
	color: #000000;
	text-decoration: none;
}

/* Style for displaying Deposit License Agreement, etc. in nice scrollable div */
.scrollarea {
    width: 550px;
    height: 250px;
    overflow: scroll;
}

p.metadata {font-size: 0.9em;}

.person-image { text-align: center; }

.person-image-metadata {visibility:hidden;}

.person-last-name {
  line-height: 1.5em; 
  width: 100%;
  padding-left: 0.2em;
}

.person-coauthor-tiny { margin: 0 .5em; }

.person-last-name-tiny { width: 100%; }

div.screen-format {
  padding: 0;
}

/* -----------------------------
 * KUMC-custom styles go here
 * kumc_...
 ------------------------------- 
.kumc_hidden {visibility:hidden;}
.kumc_nodisplay {display:none;}
#azbox {
	height: 35px;
}
#azbox ul, #azbox ul li {
	margin: 0px;
	padding-bottom: 0px;
}
*/
dt, dl, dd {
  padding: 3px;
}

dd {
  line-height: 2em;
}

div.facet_heading {
  padding-top: inherit;
}


/* Make Blueprint responsive and mobile-friendly.*/
/* Source: https://gist.github.com/adamjohnson/3495007 As of: 07-17-2013 */

/* -------- BEGIN MOBILE STYLES -------- */
/* By Adam Johnson - 8-28-12 - @adamj_design */
/* Paste these either at the end of your custom styles.css, or at the end of screen.css */

/*--- fluid images and objects ---*/
img, object, embed {max-width: 100%;}

/* Let's reset blueprint's grid. Inherits styles from: Default Layout. */
@media only screen and (max-width: 959px) {
        .container {width:95%; margin: 0 10px;}
        .column, .span-1, .span-2, .span-3, .span-4, .span-5, .span-6, .span-7, .span-8, .span-9, .span-10, .span-11, .span-12, .span-13, .span-14, .span-15, .span-16, .span-17, .span-18, .span-19, .span-20, .span-21, .span-22, .span-23, .span-24 {width: 100%;}
        .append-1, .append-2, .append-3, .append-4, .append-5, .append-6, .append-7, .append-8, .append-9, .append-11, .append-12, .append-13, .append-14, .append-15, .append-16, .append-17, .append-18, .append-19, .append-20, .append-21, .append-22, .append-23 {padding-right:0;}
        .prepend-1, .prepend-2, .prepend-3, .prepend-4, .prepend-5, .prepend-6, .prepend-7, .prepend-8, .prepend-9, .prepend-10, .prepend-11, .prepend-12, .prepend-13, .prepend-14, .prepend-15, .prepend-16, .prepend-17, .prepend-18, .prepend-19, .prepend-20, .prepend-21, .prepend-22, .prepend-23 {padding-left:0;}
        .pull-1, .pull-2, .pull-3, .pull-4, .pull-5, .pull-6, .pull-7, .pull-8, .pull-9, .pull-10, .pull-11, .pull-12, .pull-13, .pull-14, .pull-15, .pull-16, .pull-17, .pull-18, .pull-19, .pull-20, .pull-21, .pull-22, .pull-23, .pull-24 {margin-left:0;}
        .push-1, .push-2, .push-3, .push-4, .push-5, .push-6, .push-7, .push-8, .push-9, .push-10, .push-11, .push-12, .push-13, .push-14, .push-15, .push-16, .push-17, .push-18, .push-19, .push-20, .push-21, .push-22, .push-23, .push-24 {margin:0;}
        .colborder { padding-right: 0;margin-right: 0;}
}

/* Tablet Layout: 760px. Inherits styles from: Default Layout. */
@media only screen and (min-width: 768px) and (max-width: 959px) {
        /* You may or may not want to set a fixed width to .container. EG: */
        /* .container { width: 768px; margin: 0 auto; } */
}

/* Mobile Layout: 320px. Inherits styles from: Default Layout. */
@media only screen and (max-width: 767px) {
        /* You may or may not want to set a fixed width to .container. EG: */
        /* .container { width: 320px; margin: 0 auto; } */
}

/* Wide Mobile Layout: 480px. Inherits styles from: Default Layout, Mobile Layout. */
@media only screen and (min-width: 480px) and (max-width: 767px) {
        /* You may or may not want to set a fixed width to .container. EG: */
        /* .container { width: 480px; margin: 0 auto; } */
}

