@import "bibapp.css";
/*
 * Choose two colors for your institution:
 * 1. A border color: #CC9933 (UW-Madison Gold)
 * 2. A heading color: #990000 (UW-Madison Red)
 * Add your colors below where necessary.
*/

.container {
 border-left:1px dotted #000;
 border-right:1px dotted #000;
}

#header {
 color: #990000; /* Red */
 border-bottom: 3px double #990000; /* Gold */
 background-image:url('../../images/header.png');
}

<<<<<<< HEAD
#header a{color:#990000;} /* Red */
#filter {color:#CC9933;} /* Gold */
=======
h2 { 
  margin-top: 10px;
  border: none;
}

/* -----------------------------
 * overridden ids
 ------------------------------- */

#alpha-nav.pagination {
	margin-bottom:inherit;
}

.pagination li {
	margin: 1em 0 0 0;
}

#content.container fieldset form {padding:1.5em;}


#footer {padding-top: 0; margin-top: 0;}


#local-pages {margin:0 1.5em 1.5em}

#local-nav, #admin-nav {
	margin: 0;
	padding: 0;
}

#navigation #current a {
  padding-bottom: 0.5em;
  font-weight: bold;
  color: #0022B4;
}

#navigation li#current {
	background-color: #eeeeee;
}

#results ol.facet_filters li {
	line-height:1.5em;
	margin: 0.5em 0;
	padding: 0;
	list-style-type: none;	
}

#toptabnav ul li {
	font-size: inherit;
}

#toptabnav #tagline {
	font-size: 1em;
	margin-left: 0px;
	text-align: center;
	}

ol#works li {margin: 1em 0 0 1em;}

/* -----------------------------
 * overridden classes
 ------------------------------- */
>>>>>>> 620e121... Remove margin and padding from local-nav and admin-nav

#footer {
	color:#A2A2A2;
	border-top: 1px solid #990000;
	border-bottom: 3px solid #000; /* Gold */
	background-image:url('../../images/header.png');
}

#footer a {
	color:#990000;
}

/* Style for displaying Deposit License Agreement, etc. in nice scrollable div */
.scrollarea {
    width: 550px;
    height: 250px;
    overflow: scroll;
}