/* @import "http://www.kumc.edu/css/template2009/kupresentation.css"; */

/* -----------------------------
 * overridden elements
 ------------------------------- 
body {margin: 0;}
div.screen-format {
	padding: inherit;
}


h2 { 
  margin-top: 10px;
  border: none;
}

ol li {
	list-style-type: none;
	margin: 0;
}*/

body {
  background: url('https://www.kumc.edu/images/x/kumc-hemenway.jpg') no-repeat center 30px;
}

#footer-bottom p img {
  float: inherit;
  margin: inherit;
  padding: inherit;
}

#wrapper #header {
  margin-bottom: inherit;
  padding-top: inherit;
}

.container {
  width: inherit;
  background-color: inherit;
}

h2.unit-name {
  border-bottom: inherit;
}

h3.heading, h3.heading a, div.box_heading {
font-family: Georgia, Times, "Times New Roman", serif!important;
font-size: 18px!important;
font-weight: bold;
display: block;
float: left;
width: 100%;
height: 34px;
padding: 7px 0 0 11px;
margin-bottom: 1em;
line-height: 18px;
color: #fff;
background-color: #666666;
border-bottom: #DAD6CB 1px solid;
}

/* -----------------------------
 * overridden ids
 ------------------------------- 

#alpha-nav.pagination {
	margin-bottom:inherit;
}

.pagination li {
	margin: 1em 0 0 0;
}

#content.container fieldset form {padding:1.5em;}


#footer {padding-top: 0; margin-top: 0;}


#local-pages {margin:0 1.5em 1.5em}

#navigation #current a {
  padding-bottom: 0.5em;
  font-weight: bold;
  color: #0022B4;
}

#navigation li#current {
	background-color: #eeeeee;
}

#results ol.facet_filters li {
	list-style-type: none;	
}
*/
#toptabnav ul li {
	font-size: inherit;
}

#toptabnav #tagline {
	font-size: 1em;
	margin-left: 0px;
	text-align: center;
	}
/*
ol#works li, div#works ol li.work {margin: 1em 0 0 1em;}

div#content div#facets ol, div#content div#facets ol li {
    list-style-type: none;
  }

ol#publications {
list-style: none;
line-height: 1.75em;
}
*/

/* -----------------------------
 * overridden classes
 ------------------------------- 

.container {background-color: transparent;}

.even {background-color: #f8f8f8;}

.links {font-size: 100%;
  margin-top: 0px;
}

.pagination a {
  padding: 2px 5px 2px 5px;
  margin: 2px;
  border: none;
  text-decoration: underline;
  color: #000099;
}

.pagination a.none {
	color: #000000;
	text-decoration: none;
}
*/
/* Override KU Presentation 
#content div.right {
  float: right;
  text-align: left;
}

#content div.right ul, #content div.right ul li {
	list-style-type: none;
}
*/
/* Style for displaying Deposit License Agreement, etc. in nice scrollable div */
.scrollarea {
    width: 550px;
    height: 250px;
    overflow: scroll;
}

p.metadata {font-size: 0.9em;}

.person-image-metadata {visibility:hidden;}

.person-last-name {line-height:1.5em;}

/** Replicate the KU rightnavheading *
div.span-6 h3.heading, div.span-7 h3.heading, div.box_heading {
  	color: #A5AAAB;
    background: url("https://www.kumc.edu/Images/template2009/widgets/rightnavheaderbg.gif") no-repeat scroll left top transparent;
    border-bottom: 1px dotted #CCCCCC;
    height: 28px;
    padding: 7px 0 0 11px;
  	font-weight: bold;
}

div.span-6 h3.heading a, div.span-7 h3.heading a {color: #A5AAAB; font-weight: bold;}
div.box_heading {background-color: #ffffff;}
div.left_box {
	background-color: #f8f8f8;
    background-image: none;
    border-color: #0022B4 !important;
    float: left;
}
div.left_box div.box_heading {
	background-color: #0022B4;
    background-image: url("https://www.kumc.edu/Images/template2009/widgets/topboxoverlay.png");
    background-repeat: repeat-x;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 0;
    text-align: center;
    width: 100%;
	}

*/
/* -----------------------------
 * KUMC-custom styles go here
 * kumc_...
 ------------------------------- 
.kumc_hidden {visibility:hidden;}
.kumc_nodisplay {display:none;}
#azbox {
	height: 35px;
}
#azbox ul, #azbox ul li {
	margin: 0px;
	padding-bottom: 0px;
}
*/