.actions
  - if contributorship.verified?
    %p
      %strong #{t('.verified')}!
    =link_to "Unverify", {:action => :unverify, :id => contributorship}, :remote => true, :method => :put, :id => "unverify-#{contributorship.id}", :class => 'child-actionlink'
      
  - else
    =link_to "Verify", {:action => :verify, :id => contributorship}, :remote => true, :method => :put, :id => "verify-#{contributorship.id}", :class => 'child-actionlink'
  =link_to "Deny", {:action => :deny, :id => contributorship}, :remote => true, :method => :put, :id => "deny-#{contributorship.id}", :class => 'child-actionlink'
  
